*{
    margin: 0;
    padding: 0;
}

.head__size{
    color: #ffffff;
    float: left;
    padding: 5px 5px;
    margin-left: 70px;
}
.background{
    position: relative;
    background-attachment: fixed;
    background-size:  100%;
    min-height: 460px;
    overflow: hidden;
    background-image: url(../1.jpg);
}
.nav{
    padding: 10px;
    overflow: hidden;

}
.nav__list{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav__li{
      margin-right: 20px;
    float: right;
    padding: 5px 5px;
    width: 8%;

}
.nav__link{
    text-decoration: none;
    color: white;
}
.span{
    color: aqua;
}


.nav__link:hover{
    color: #f5f1f5;
}

.role {
    position: absolute; /* Position the background text */
    margin-left: 40px;
    margin-bottom: 60px;
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 32%; /* Full width */
    padding: 20px; /* Some padding */
}

.exploration{

    background: rgba(227, 227, 227, 1);

}

.exploration__size{
    text-align: center;
    color: black;
    padding-top: 50px;
    text-decoration: none;
}

.exploration__text{
    text-align: center;
    padding-top: 20px;
}

.image{
    padding-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
    /*add flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}


.image__background--white{
    background-color: white;
    width: 33%;
    height: 300px;
    box-sizing: border-box;
}

.image__background--ski{
    background-image: url(../skiing.jpg);
    background-size:  100%;
    background-repeat:no-repeat;
    width: 33%;
    height: 300px;
    box-sizing: border-box;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.image__background--volcano{
    background-image: url(../volcano.jpg);
    background-size:  100%;
    background-repeat:no-repeat;
    width: 33%;
    height: 300px;
    box-sizing: border-box;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.image__background--beach{
    background-image: url(../beach.jpg);
    background-size:  100%;
    background-repeat:no-repeat;
    width: 33%;
    height: 300px;
    box-sizing: border-box;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.image__blue{
    text-transform: uppercase;
    background-color: #41f5ff;
    color: white;
    font-size: 20px;
    border-radius: 5%;
    width: 6%;
    text-align: center;
    position: absolute;
    margin-left: 23px;
    margin-top: 30px;
}
.image__size{
    position: absolute;
    font-size: 28px;
    padding-left: 23px;
    margin-top: 70px;
}

.image__text{
    position: absolute;
    padding-left: 23px;
    margin-top: 110px;
    font-size: 15px;
    width: 30%;
}

.button{
    border-radius: 40%;
}

/*responsive*/

@media screen and (max-width:1200px){
    .right{
        width: 40%;
    }

}
@media screen and (max-width:600px){
    .right{
        width: 90%;
    }

}